<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title th:text="|Screencast:Admin@${hostname}|">Screencast:Admin</title>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container"><br/>

  <h1>Screencast Admin</h1>

  <div class="panel panel-default">
    <div class="panel-body">

      <form method="post" action="/admin/settings">
        <div class="form-group">
          Screen cast URL: <a th:href="${url}" th:text="${url}" target="_blank">http://localhost:9999/</a>
        </div>
        <div class="form-group">
          <label for="castEnabled">Cast enabled</label>
          <input id="castEnabled" name="castEnabled" type="checkbox" th:checked="${settings.castEnabled}"></input>
        </div>
        <div class="form-group">
          <button name="update" value="Update" type="submit">Update</button>
        </div>

        <div class="form-group">
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>