<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title th:text="|Screencast@${hostname}|">Screencast@localhost</title>

  <meta name="csrf" th:value="${_csrf.token}"/>

  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/mustache/mustache.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script src="/webjars/moment/min/moment.min.js"></script>
  <script src="/webjars/moment/locale/de.js"></script>

  <link rel="stylesheet" href="css/app.css"/>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>

  <link rel="stylesheet" href="/webjars/perfect-scrollbar/css/perfect-scrollbar.min.css"/>
  <script src="/webjars/perfect-scrollbar/js/perfect-scrollbar.js"></script>
  <script src="/webjars/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
</head>
<body th:with="isWatcher = (${requestType} == 'watcher'), isCaster = (${requestType} == 'caster')">
<main>

  <button id="btnShowNotes" type="button" class="btn btn-info btn-lg" data-toggle="modal"
          data-target="#notesDialog" title="Show notes">Notes <span id="unreadNotesCounter" class="badge">0</span>
  </button>

  <div id="screenContainer" th:if="${isWatcher}" class="container-fluid">
    <div class="row">
      <img id="screen" src="/screenshot" class="screen-fit img-responsive" unselectable="on"
           onselectstart="return false;"/>
      <canvas id="overlay"></canvas>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div id="castInfo" th:if="${isCaster}" class="col-md-10 col-md-offset-2">
        <h1>Screencast</h1>
        <h1 th:text="${screencastUrl}" class="screen-cast-url">http://localhost:9999</h1>
        <p>Status: <span id="screenCastStatus" th:text="${settings.castEnabled} ? 'active' : 'not active'">active</span>
        </p>
      </div>
    </div>
  </div>

  <div id="notesDialog" class="modal fade" role="dialog" tabindex="-1">

    <div id="notesDialogBox" class="modal-dialog panel panel-default">

      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" title="Close">&times;</button>
        <h2 class="modal-title">Notes
          <button onclick="screenCaster.scrollToLatestNote()"
                  class="btn btn-default btn-show-latest-note"
                  title="Show latest note"><span
            class="glyphicon glyphicon-chevron-down"></span>
          </button>
        </h2>
      </div>

      <div class="modal-body panel panel-body">

        <div id="notesListContainer">
          <ol id="notesList" class="list-group"></ol>
        </div>

        <form id="notesForm" action="/notes" method="post" th:if="${isCaster}">

          <button type="submit"
                  onclick="screenCaster.updateNote(event)"
                  name="action"
                  value="deleteAll"
                  class="glyphicon glyphicon-trash pull-right"
                  title="Delete all notes"></button>

          <hr/>
          <div class="form-group">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <label for="txtNote">New Note</label>
            <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown
              Syntax</a>
            <textarea id="txtNote" name="text" th:required="required" class="form-control" rows="3"
                      placeholder="Write your note here..."></textarea>
          </div>
          <button type="submit" class="btn btn-primary" title="Sent">Sent</button>
          <button type="reset" class="btn" title="Reset">Reset</button>
        </form>
      </div>

      <div class="modal-footer">
      </div>
    </div>
  </div>

</main>
<script id="note-template" type="x-tmpl-mustache">
  <li data-note-id="{{id}}" class="list-group-item">
    <div class="note new" onmouseover="screenCaster.markNoteAsRead(this)">
      <span>&#35;</span><span> {{id}} </span>{{{html}}}
      <div>
        <ul class="list-inline">
          <span class="note-time">{{createdAtHuman}} </span>
          <span class="new-note-marker glyphicon glyphicon-asterisk"/>
          <form class="note-actions" action="/notes/{{id}}" onsubmit="return false;" th:if="${isCaster}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" class="csrf" />
            <button type="submit" onclick="screenCaster.updateNote(event)" name="action" value="delete"
                    class="glyphicon glyphicon-trash" title="Delete note {{id}}"/>
            <button type="submit" onclick="screenCaster.updateNote(event)" name="action" value="edit"
                    class="glyphicon glyphicon-pencil" title="Edit note {{id}}"/>
          </form>
        </ul>
      </div>
    </div>
  </li>
</script>

<script src="js/app.js"></script>

<script th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function () {

    screenCaster = new ScreenCaster({
      watcher:  /*[[${isWatcher}]]*/,
      enabled: /*[[${settings.castEnabled}]]*/
    });

    screenCaster.init();

    screenCaster.start();
  });
  /*]]>*/
</script>

</body>
</html>