<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title th:text="|Screencast@${hostname}|">Screencast@localhost</title>

  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/mustache/mustache.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script src="/webjars/moment/min/moment.min.js"></script>
  <script src="/webjars/moment/locale/de.js"></script>

  <link rel="stylesheet" href="css/app.css"/>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>

  <script src="js/app.js"></script>
</head>
<body th:with="isWatcher = (${requestType} == 'watcher'),isCaster = (${requestType} == 'caster')">

<script th:if="${isCaster}">

  $(document).ready(function () {
    //disable local notifications
    screenCaster.notificationStatus.enabled = false;
  });
</script>

<main>

  <div class="container">
    <div class="row">
      <button id="btnShowNotes" type="button" class="btn btn-info btn-lg" data-toggle="modal"
              data-target="#notesDialog">
        Notes
        <span id="unreadNotesCounter" class="badge">0</span>

      </button>

      <div class="col col-md-4">
      </div>

      <div id="castInfo" th:if="${isCaster}" class="col col-md-6">
        <h1>Screencast URL <span th:text="${screencastUrl}"/></h1>
      </div>
    </div>
  </div>


  <div id="screenContainer" th:if="${isWatcher}">
    <img id="screen" src="/screenshot" class="screen-fit" unselectable="on" onselectstart="return false;"/>
  </div>

  <div id="notesDialog" class="modal fade" role="dialog" tabindex="-1">

    <div id="notesDialogBox" class="modal-dialog panel panel-default">

      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Notes</h2>
      </div>

      <div class="modal-body panel panel-body">

        <div id="notesListContainer">
          <ol id="notesList" class="list-group">
            <li th:each="note : ${notes}" data:note-id="${note.id}" class="list-group-item">
              <div class="note read">
                <p th:utext="${note.text}">Note text</p>
                <div>
                  <span class="note-time" th:text="${#temporals.format(note.createdAt, 'dd.MM.yy HH:mm:ss')}"></span>
                  <form class="note-actions" th:action="'/notes/' + ${note.id}" onsubmit="return false;"
                        th:if="${isCaster}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit" onclick="updateNote(event)" name="action" value="delete"
                            class="glyphicon glyphicon-trash"></button>
                  </form>
                </div>
              </div>
            </li>
          </ol>
        </div>

        <hr/>

        <form id="notesForm" action="/notes" method="post" th:if="${isCaster}">
          <div class="form-group">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <label for="txtNote">New Note</label>
            <textarea id="txtNote" name="text" th:required="required" class="form-control" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Sent</button>
          <button type="reset" class="btn">Reset</button>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>

</main>
<script id="note-template" type="x-tmpl-mustache">
  <li data-note-id="{{id}}" class="list-group-item">
    <div class="note new" onmouseover="markNoteAsRead(this);">
      <p>{{{text}}}</p>
      <div>
        <span class="note-time">{{createdAtHuman}}</span>
        <span class="new-note-marker glyphicon glyphicon-asterisk"/>
        <form class="note-actions" action="/notes/{{id}}" onsubmit="return false;" th:if="${isCaster}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" onclick="updateNote(event)" name="action" value="delete" class="glyphicon glyphicon-trash"/>
        </form>
      </div>
    </div>
  </li>

</script>
</body>
</html>